﻿@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<section class="content-header">
    <h1>
        Usuários
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-files-o"></i> Cadastros</a>
        </li>
        <li class="active">Usuários</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabSearch" data-toggle="tab">Consulta</a></li>
            <li id="tabCad"><a href="#tabCadastro" data-toggle="tab">Cadastro</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="tabSearch">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Pesquisa de Usuários</h3>
                            </div>
                            <form method="post" name="frmSearchAccount" id="frmSearchAccount" action="">
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-4 form-group">
                                            <label for="txtSearchName"> Nome</label>
                                            <input type="text" class="form-control" name="txtSearchName" id="txtSearchName">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-4 form-group">
                                            <label for="txtSearchEmail"> Email</label>
                                            <input type="text" class="form-control" name="txtSearchEmail" id="txtSearchEmail">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-4 form-group">
                                            <label for="cblType"> Tipo</label>
                                            <select class="form-control" name="cboSearchType" id="cboSearchType">
                                                <option value="0"></option>
                                                <option value="1">Administrador</option>
                                                <option value="2">Comprador</option>
                                                <option value="3">Fornecedor</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i> @Resources.General.Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                 <div class="form-group">
                                      <label for="cblType"> Mostrar</label>
                                      <div class="col-xs-show-1">
                                           <select onchange="fJF_GetShowRecords(this)" class="form-control" name="cboLimits" id="cboLimits">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                           </select>
                                      </div>
                                 </div>
                            </div>
                            <div class="box-body">
                                <table id="tableDefault" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50px">Usuário</th>
                                            <th width="350px">Nome</th>
                                            <th width="350px">Email</th>
                                            <th>Tipo</th>
                                            <th width="100px">Status</th>
                                            <th width="100px">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gridAccount"></tbody>
                                </table>
                            </div>
                            <div class="box-footer text-right">
                                <button type="button" id="btnPrevious" class="btn btn-info"><i class="fa fa-arrow-left"></i> @Resources.General.Previous</button>
                                <button type="button" id="btnNext" class="btn btn-info"><i class="fa fa-arrow-right"></i> @Resources.General.Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabCadastro">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cadastro de Usuários</h3>
                            </div>
                            <form method="post" name="frmAccount" id="frmAccount" action="">
                                @Html.Hidden("hdnCode", null, new { id = "hdnCode" })
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-6 form-group">
                                            <label for="txtName"><span class="text-danger">*</span> Nome</label>
                                            <input type="text" class="form-control" name="txtName" id="txtName">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="txtEmail"><span class="text-danger">*</span> Email</label>
                                            <input type="email" class="form-control" name="txtEmail" id="txtEmail">
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label for="txtPassword"><span class="text-danger">*</span> Senha</label>
                                            <input type="password" class="form-control" name="txtPassword" id="txtPassword">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="cblType"><span class="text-danger">*</span> Tipo</label>
                                            <select class="form-control" name="cboType" id="cboType">
                                                <option value="0"></option>
                                                <option value="1">Administrador</option>
                                                <option value="2">Comprador</option>
                                                <option value="3">Fornecedor</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @Resources.General.Save</button>
                                    <button type="button" id="btnCancel" class="btn btn-danger"><i class="fa fa-times"></i> @Resources.General.Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/content/js/account.js" type="text/javascript"></script>
