﻿@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<section class="content-header">
    <h1>
        Ordem de Compra
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-files-o"></i> Ordem</a>
        </li>
        <li class="active">Ordem de Compra</li>
    </ol>
</section>

<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabSearch" data-toggle="tab">Consulta</a></li>
            <li id="tabCad"><a href="#tabCadastro" data-toggle="tab">Cadastro</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="tabSearch">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Pesquisa Ordem de Compra</h3>
                            </div>
                            <form method="post" name="frmSearch" id="frmSearch" action="">
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="txtSearchNumberOrder"> Número da Ordem</label>
                                            <input type="text" class="form-control" name="txtSearchNumberOrder" id="txtSearchNumberOrder">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-6 form-group">
                                            <label for="txtSearchItem"> Item</label>
                                            <input type="text" class="form-control" name="txtSearchItem" id="txtSearchItem">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="cboSearchRecordStatus"> Status</label>
                                            <select class="form-control" name="cboSearchRecordStatus" id="cboSearchRecordStatus">
                                                <option value=""></option>
                                                <option value="0">Inativo</option>
                                                <option value="1">Ativo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i> Pesquisar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="form-group">
                                    <label for="cblType"> Mostrar</label>
                                    <div class="col-xs-show-1">
                                        <select onchange="fJF_GetShowRecords(this)" class="form-control" name="cboLimits" id="cboLimits">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <table id="tableDefault" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50px">Ordem</th>
                                            <th width="250px">Item</th>
                                            <th width="100px">Qtde</th>
                                            <th width="100px">Fator</th>
                                            <th width="100px">Unidade</th>
                                            <th width="100px">Cotação</th>
                                            <th width="100px">Status</th>
                                            <th width="100px">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gridOrder"></tbody>
                                </table>
                            </div>
                            <div class="box-footer text-right">
                                <button type="button" id="btnPrevious" class="btn btn-info"><i class="fa fa-arrow-left"></i> Anterior</button>
                                <button type="button" id="btnNext" class="btn btn-info"><i class="fa fa-arrow-right"></i> Próximo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabCadastro">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cadastro Ordem de Compras</h3>
                            </div>
                            <form method="post" name="frmOrder" id="frmOrder" action="">
                                @Html.Hidden("hdnCode", null, new { id = "hdnCode" })
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="txtItemIdf"><span class="text-danger">*</span> Código Item</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="txtItemId" id="txtItemId">
                                                <div class="input-group-addon">
                                                    <a href="javascript:fJF_ShowModalSearchItem();"><i class="fa fa fa-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 form-group">
                                            <label for="txtName"> Item</label>
                                            <input type="text" class="form-control" name="txtName" id="txtName">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="txtQtde"><span class="text-danger">*</span> Qtde</label>
                                            <input type="text" class="form-control" name="txtQtde" id="txtQtde">
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label for="txtFactor"><span class="text-danger">*</span> Fator</label>
                                            <input type="text" class="form-control" name="txtFactor" id="txtFactor">
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label for="cboMeasuredUnit"><span class="text-danger">*</span> Unidade Medida</label>
                                            <select class="form-control" name="cboMeasuredUnit" id="cboMeasuredUnit"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Salvar</button>
                                    <button type="button" id="btnCancel" class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Search Item -->
<div id="modalSearchItem" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="semibold modal-title text-primary">Pesquisar Itens</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <form method="post" name="frmSearchItemModal" id="frmSearchItemModal" action="">
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-12 form-group">
                                            <label for="txtSearchNameItemModal"> Nome</label>
                                            <input type="text" class="form-control" name="txtSearchNameItemModal" id="txtSearchNameItemModal">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer text-right">
                                    <button type="button" id="btnSearchItem" class="btn btn-info text-center"><i class="fa fa-search"></i> Pesquisar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="form-group">
                                    <label for="cblType"> Mostrar</label>
                                    <div class="col-xs-show-1">
                                        <select onchange="fJF_GetShowRecordsSearchItem(this)" class="form-control" name="cboLimits" id="cboLimits">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <table id="tableDefaultSearchItem" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50px">Id</th>
                                            <th width="350px">Item</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gridSearchItem"></tbody>
                                </table>
                            </div>
                            <div class="box-footer text-right">
                                <button type="button" id="btnPreviousSearchItem" class="btn btn-info"><i class="fa fa-arrow-left"></i> Anterior</button>
                                <button type="button" id="btnNextSearchItem" class="btn btn-info"><i class="fa fa-arrow-right"></i> Próximo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/content/js/purchaseorder.js" type="text/javascript"></script>

