﻿@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    var Version = ViewData["version"] as string;
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>