﻿@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<section class="content-header">
    <h1>
        Fretes
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-files-o"></i> Cadastros</a>
        </li>
        <li class="active">Fretes</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Fretes</h3>
                </div>
                <form method="post" name="frmFreight" id="frmFreight" action="">
                    @Html.Hidden("hdnCode", null, new { id = "hdnCode" })
                    <div class="box-body">
                        <div class="row-form">
                            <div class="col-md-12 form-group">
                                <label for="txtName"><span class="text-danger">*</span> Nome</label>
                                <input type="text" class="form-control" name="txtName" id="txtName">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Salvar</button>
                        <button type="button" id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i> Pesquisar</button>
                        <button type="button" id="btnCancel" class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="form-group">
                        <label for="cblType"> Mostrar</label>
                        <div class="col-xs-show-1">
                            <select onchange="fJF_GetShowRecords(this)" class="form-control" name="cboLimits" id="cboLimits">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tableDefault" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="50px">Frete</th>
                                <th width="350px">Descrição</th>
                                <th width="100px">Status</th>
                                <th width="100px">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="gridFreight"></tbody>
                    </table>
                </div>
                <div class="box-footer text-right">
                    <button type="button" id="btnPrevious" class="btn btn-info"><i class="fa fa-arrow-left"></i> Anterior</button>
                    <button type="button" id="btnNext" class="btn btn-info"><i class="fa fa-arrow-right"></i> Próximo</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/content/js/freight.js" type="text/javascript"></script>
