﻿@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<section class="content-header">
    <h1>
        Fornecedores
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-files-o"></i> Cadastros</a>
        </li>
        <li class="active">Fornecedores</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabSearch" data-toggle="tab">Consulta</a></li>
            <li id="tabCad"><a href="#tabCadastro" data-toggle="tab">Cadastro</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="tabSearch">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Pesquisa de Fornecedores</h3>
                            </div>
                            <form method="post" name="frmSearch" id="frmSearch" action="">
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="txtSearchCnpj"> Cnpj</label>
                                            <input type="text" class="form-control" name="txtSearchCnpj" id="txtSearchCnpj">
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="col-md-9 form-group">
                                            <label for="txtSearchName"> Razão Social</label>
                                            <input type="text" class="form-control" name="txtSearchName" id="txtSearchName">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i> Pesquisar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="form-group">
                                    <label for="cblType"> Mostrar</label>
                                    <div class="col-xs-show-1">
                                        <select onchange="fJF_GetShowRecords(this)" class="form-control" name="cboLimits" id="cboLimits">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <table id="tableDefault" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50px">Código</th>
                                            <th width="100px">CNPJ</th>
                                            <th width="350px">Nome</th>
                                            <th width="100px">Status</th>
                                            <th width="100px">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gridSupplier"></tbody>
                                </table>
                            </div>
                            <div class="box-footer text-right">
                                <button type="button" id="btnPrevious" class="btn btn-info"><i class="fa fa-arrow-left"></i> Anterior</button>
                                <button type="button" id="btnNext" class="btn btn-info"><i class="fa fa-arrow-right"></i> Próximo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabCadastro">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cadastro de Fornecedores</h3>
                            </div>
                            <form method="post" name="frmSupplier" id="frmSupplier" action="">
                                @Html.Hidden("hdnCode", null, new { id = "hdnCode" })
                                <div class="box-body">
                                    <div class="row-form">
                                        <div class="col-md-3 form-group">
                                            <label for="txtCnpj"><span class="text-danger">*</span> CNPJ</label>
                                            <input type="text" class="form-control" name="txtCnpj" id="txtCnpj">
                                        </div>
                                        <div class="col-md-9 form-group">
                                            <label for="txtName"><span class="text-danger">*</span> Razão Social</label>
                                            <input type="text" class="form-control" name="txtName" id="txtName">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Salvar</button>
                                    <button type="button" id="btnCancel" class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/content/js/supplier.js" type="text/javascript"></script>
