﻿@{
    var BaseUrl = String.Format("http://{0}", @Context.Request.Host);
}
<!DOCTYPE html>
<html>
<head>
    <!-- START META SECTION -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eprocurement</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/content/dist/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/content/dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/content/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/content/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/content/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/content/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/content/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 179293, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("~/Views/Partial/_Header.cshtml")
        @await Html.PartialAsync("~/Views/Partial/_SidebarLeft.cshtml")
        <section id="main" role="main">
            <div class="content-wrapper">
                @Html.Hidden("hdnUrlBase", BaseUrl)
                @Html.Hidden("hdnLoading", Resources.General.Loading)

                <div class="row hide" id="sucess-container">
                    <div class="box-body-notification">
                        <div class="row-form col-md-12">
                            <div class="alert alert-success alert-dismissible">
                                <h4><i class="icon fa fa-check"></i> Eprocurement Sucess !</h4>
                                <span id="sucess-container-message"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide" id="error-container">
                    <div class="box-body-notification">
                        <div class="row-form col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <h4><i class="icon fa fa-ban"></i> Eprocurement Error !</h4>
                                <span id="error-container-message"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide" id="warning-container">
                    <div class="box-body-notification">
                        <div class="row-form col-md-12">
                            <div class="alert alert-warning alert-dismissible">
                                <h4><i class="icon fa fa-warning"></i> Eprocurement Warning !</h4>
                                <span id="warning-container-message"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide" id="info-container">
                    <div class="box-body-notification">
                        <div class="row-form col-md-12">
                            <div class="alert alert-info alert-dismissible">
                                <h4><i class="icon fa fa-info"></i> Eprocurement Info !</h4>
                                <span id="info-container-message"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/content/plugins/jQuery/jQuery-2.2.0.min.js"></script>
                <script type="text/javascript" src="~/content/js/common.js"></script>
                <script type="text/javascript" src="~/content/lang/resource.lang.pt-BR.js"></script>
                @RenderBody()
            </div>
            <!-- Modal Loading -->
            <div id="modalLoading" class="modal fade">
                @await Html.PartialAsync("~/Views/Partial/Modal/_ModalLoading.cshtml")
            </div>
        </section>
        @await Html.PartialAsync("~/Views/Partial/_Footer.cshtml")
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-67721623-2', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/content/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/content/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/content/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/content/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/content/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/content/dist/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/content/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/content/dist/js/demo.js"></script>
</body>
</html>
