﻿<!DOCTYPE html>
<html>
<head>
    <!-- START META SECTION -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="theme-color" content="#2a2a2a">
    <meta name="author" content="FS IT [fs.com.br]">
    <meta name="description" content="Sistema, Gestão, ERP">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:179293,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>
<body>
    

    <!-- START Template Main -->
    <section id="main" role="main">
        <!-- START Template Container -->
        <div class="container-fluid" style="padding: 0;">
            <div class="bar-top-login">
                <div class="row row-no-margim">
                    <div class="col-md-12">
                        <div class="col-sm-4">
                            <div class="bar-top-img">
                                <img src="~/Content/eclinic/img/Logo_Branco_Horizontal_200.png" alt="Logo" border="0" onclick="document.location.href='http://www.edentist.com.br'" />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="bar-top-link hidden-xs hidden-sm hidden-md">
                                <a href="http://www.edentist.com.br/#plans-container"></a> &nbsp;|&nbsp; 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="container" style="margin-top: 105px;">
            @RenderBody()
        </section>
        <!--/ END Template Container -->
    </section>
    <!--/ END Template Main -->
    <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
    <!-- Library script : mandatory -->
    <script type="text/javascript" src="~/Content/default/library/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/default/library/jquery/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/Content/default/library/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/default/library/core/js/core.min.js"></script>
    <!--/ Library script -->
    <!-- App and page level script -->
    <script type="text/javascript" src="~/Content/default/plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
    <script type="text/javascript" src="~/Content/default/javascript/app.min.js"></script>
    <script type="text/javascript" src="~/Content/default/plugins/parsley/js/parsley.min.js"></script>
    <script type="text/javascript" src="~/Content/default/javascript/pages/login.js"></script>

    <!--/ App and page level scrip -->
    <!--/ END JAVASCRIPT SECTION -->
    <script>
        (function (i, s, o, g, r, a, m)
        {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function ()
            {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-67721623-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
