﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a href="http://almsaeedstudio.com"> Não sei</a>.</strong> todos os direitos
    reserved.
</footer>