﻿@{
    var BaseUrl = String.Format("http://{0}", @Context.Request.Host);
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/content/dist/img/foto.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Fernando Sanchez</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
                <a href="@BaseUrl/dashboard/index">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Cadastros</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@BaseUrl/paymentcondition/index">
                            <i class="fa fa-angle-double-right"></i> Condição Pagamento
                        </a>
                    </li>
                    <li>
                        <a href="@BaseUrl/supplier/index">
                            <i class="fa fa-angle-double-right"></i> Fornecedores
                        </a>
                    </li>
                    <li>
                        <a href="@BaseUrl/freight/index">
                            <i class="fa fa-angle-double-right"></i> Fretes
                        </a>
                    </li>
                    <li>
                        <a href="@BaseUrl/item/index">
                            <i class="fa fa-angle-double-right"></i> Itens
                        </a>
                    </li>
                    <li>
                        <a href="@BaseUrl/coin/index">
                            <i class="fa fa-angle-double-right"></i> Moedas
                        </a>
                    </li>
                    <li>
                        <a href="@BaseUrl/measuredunit/index">
                            <i class="fa fa-angle-double-right"></i> Unidade Medida
                        </a>
                    </li>
                    <li>
                        <a href="@BaseUrl/account/index">
                            <i class="fa fa-angle-double-right"></i> Usuários
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="@BaseUrl/purchaseorder/index">
                    <i class="fa fa-file-text-o"></i>
                    <span>Ordem Compra</span>
                </a>
            </li>
            <li class="treeview">
                <a href="@BaseUrl/quotation/index">
                    <i class="fa fa-file-text-o"></i>
                    <span>Cotações</span>
                </a>
            </li>
        </ul>
    </section>
</aside>